adp/adp.jar
adp/bin/com
adp/bin/test
bidder/bidder
*.a
*.o
*.class
*.out
*.log
.DS_Store
._.DS_Store
bs_ds/app/templates_c/
bs_ds/app_admin/templates_c/
thrift/adc_c/
thrift/adc_java/
thrift/adc_php/
thrift/adc_python/
radius/build
*.data
